footer {
    padding: 80px 0;
    background-color: #000508;
    p {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 27px;
        color: #ffffff;
        padding-top: 20px;
    }
    .img {
        padding: 20px 0;
    }
    h3 {
        font-family: heli;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 27px;
        color: #848895;
    }
    h2 {
        font-family: heli;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-transform: uppercase;
        color: #ffffff;
    }
    a {
        font-family: heli;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 27px;
        color: #848895;
    }
    .footer_list{
        @media screen and (max-width:992px) {
            margin-top: 50px;
        }
    }
    
}
